<a href="https://colab.research.google.com/github/BeLearningMachine/NullValueHandling/blob/main/EDA_Null_handling_ipynb_txt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loading the lib

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit

In [2]:
pf =  pd.read_csv('/content/Churn_Modelling.csv')

In [3]:
[[pf.info()]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

[[None]]

In [4]:
pf.loc[pf.sample(frac=0.1).index, 'Age'] = np.nan
pf.loc[pf.sample(frac=0.05).index, 'Gender'] = np.nan
print(pf[['Age', 'Gender']].isnull().sum())

Age       1000
Gender     500
dtype: int64

In [5]:
pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9500 non-null   object
 6   Age              9000 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [6]:
print(pf.isnull().sum())

RowNumber             0
CustomerId            0
Surname               0
CreditScore           0
Geography             0
Gender              500
Age                1000
Tenure                0
Balance               0
NumOfProducts         0
HasCrCard             0
IsActiveMember        0
EstimatedSalary       0
Exited                0
dtype: int64

## A = Handling the Missing DATA
1. delecting the columns with missing data

In [7]:
update_pff = pf.dropna(axis=1)
#axis - Perform operations for column

In [8]:
update_pff.info()
#null valur columns are gone

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

2. Delecting the Row with missing data

In [9]:
update_pff = pf.dropna(axis=0)
#axis - Perform operations for Row

In [10]:
update_pff.info()
#null valur rows are gone

<class 'pandas.core.frame.DataFrame'>
Index: 8543 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        8543 non-null   int64
 1   CustomerId       8543 non-null   int64
 2   Surname          8543 non-null   object
 3   CreditScore      8543 non-null   int64
 4   Geography        8543 non-null   object
 5   Gender           8543 non-null   object
 6   Age              8543 non-null   float64
 7   Tenure           8543 non-null   int64
 8   Balance          8543 non-null   float64
 9   NumOfProducts    8543 non-null   int64
 10  HasCrCard        8543 non-null   int64
 11  IsActiveMember   8543 non-null   int64
 12  EstimatedSalary  8543 non-null   float64
 13  Exited           8543 non-null   int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1001.1+ KB

## B = Filling Missing DATA with value -imputation
Data imputation is a technique used to replace missing values in a dataset with substituted values.

#The Possible ways to do this are :

*Filling missing data with the mean , median values if its a numerical varibale
*Filling missing data with the mode if the data is categrical varibale
*Filling value with 0 or -999 . or other number that will not occur in data that can ne done so that the machine can be recognize that the data is not real or is different.
*Filling the categorical value with a new type for the missing values.

In [11]:
pf['Age'].mean()

np.float64(38.96877777777778)

In [12]:
pf['Age'].median()

37.0

In [13]:
updated_pf = pf.copy()

*   Fillna() -  filling the null value
*   Dropna() -  drop the null records

In [14]:
updated_pf['Age'] = updated_pf['Age'].fillna(updated_pf['Age'].mean())

Too many outliers - better to use median
Less number of outliers  - better to use meana

In [15]:
updated_pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9500 non-null   object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

Forword and backword filling value

In [16]:
updated_pf_for_bac_value = pf.copy()

In [17]:
updated_pf_for_bac_value.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9500 non-null   object
 6   Age              9000 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [18]:
updated_pf_for_bac_value['Age']= updated_pf_for_bac_value['Age'].bfill()

In [19]:
updated_pf_for_bac_value.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9500 non-null   object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [20]:
updated_pf_for_bac_value['Gender']= updated_pf_for_bac_value['Gender'].bfill()

In [21]:
updated_pf_for_bac_value.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

# Feature scalling =
Feature scaling is a data preprocessing technique used to standardize the range of independent variables or features of a dataset.


* Data standardization in data science is a data preprocessing technique used to rescale data to have a mean of 0 and a standard deviation of 1

Normalization is a process that transforms your data's features to a standard scale, typically between 0 and 1.